// colors
$background: #f2f2f2;
$text1: #16151e;
$text2: #474559;

$primary: #1a0fb7;
$secondary: #c8c7d6;

$red: #df3b2c;
$green: #23ae68;
$yellow: #e7b453;

$nav-height: 50px;

$background-60: hsla(47, 45%, 90%, 0.6);
$background-light: #f6f6f6;

$text1-07: hsla(43, 33%, 4%, 0.07);
$text1-20: hsla(43, 33%, 4%, 0.2);
$text1-50: hsla(43, 33%, 4%, 0.5);

$radius: 0.5rem;
$shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
