// colors
$background: #f5f5f5;
$text1: #000000;
$text2: #1b1887;
$red: #a92a2a;
$green: #3bd24d;
$yellow: #efe452;
$accent: #2e3ec9;

$nav-height: 50px;

$background-60: hsla(47, 45%, 90%, 0.6);
$background-light: #f8f6ed;

$text1-07: hsla(43, 33%, 4%, 0.07);
$text1-20: hsla(43, 33%, 4%, 0.2);
$text1-50: hsla(43, 33%, 4%, 0.5);
