<div class="blurry-bg"></div>
<div class="modal flex-col center middle">
  <h2>{{ options.title ? options.title : 'no title' }}</h2>
  <ng-content></ng-content>
  <p *ngIf="options.message">{{ options.message }}</p>
  <div class="flex-row middle center">
    <button
      class="big"
      [ngClass]="options.cancelColor ? options.cancelColor : 'basic'"
      (click)="cancelModal()">
      {{ options.cancelText ? options.cancelText : 'No' }}
    </button>
    <button
      class="big"
      [ngClass]="options.confirmColor ? options.confirmColor : 'primary'"
      [disabled]="!validator"
      (click)="confirmModal()">
      {{ options.confirmText ? options.confirmText : 'Yes' }}
    </button>
  </div>
</div>
