<div class="main-container flex-row middle center">
  <form [formGroup]="loginForm" class="flex-col center middle">
    <h1>Login</h1>
    <input
      type="text"
      formControlName="login"
      class="basic"
      id="login"
      placeholder="Enter username" />
    <input
      type="password"
      formControlName="password"
      class="basic"
      id="password"
      placeholder="Password" />
    <p *ngIf="errorInForm" class="error-message">{{ errorMessage }}</p>
    <button
      type="submit"
      (click)="onSubmitForm()"
      class="primary"
      [disabled]="loginForm.invalid">
      Submit
    </button>
  </form>
  <img
    class="illustration"
    src="assets/illustrations/auth.svg"
    alt="login illustration" />
</div>
