@import '/src/app/styles/variables.scss';
@import '/src/app/styles/mixins.scss';

.illustration {
  width: 50vw;
  max-width: 500px;

  @include width-under(600px) {
    display: none;
  }
}

.error-message {
  font-size: 0.7rem;
  padding: 0.5rem;
  color: $red;
  width: 100%;
  text-align: center;
}
