@import '/src/app/styles/variables.scss';

h1 {
  text-align: center;
}

pre {
  background-color: $text1;
  color: $background;
  padding: 0.5rem;
}

img {
  width: 100%;
}

section {
  width: calc(100% - 2rem);
  box-shadow: $shadow;
  border-radius: $radius;
  background: $background-light;
  padding: 1rem;
  border: solid 2px $text1-07;
}
