<div class="main-container flex-row middle center">
  <form [formGroup]="signupForm" class="flex-col center middle">
    <h1>{{ 'auth.register' | translate }}</h1>
    <input
      type="text"
      formControlName="login"
      class="basic"
      id="login"
      [placeholder]="'auth.username' | translate" />
    <input
      type="password"
      formControlName="password"
      class="basic"
      id="password"
      [placeholder]="'auth.password' | translate" />
    <input
      type="password"
      formControlName="passwordVerification"
      class="basic"
      id="password"
      [placeholder]="'auth.confirmPassword' | translate" />
    <p *ngIf="errorInForm" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="!errorInForm" class="pwd-info">
      {{ 'auth.passwordRequirements' | translate }}
    </p>
    <button
      type="submit"
      (click)="onSubmitForm()"
      class="primary"
      [disabled]="signupForm.invalid">
      Submit
    </button>
  </form>
  <img
    class="illustration"
    src="assets/illustrations/auth.svg"
    alt="register illustration" />
</div>
