/* You can add global styles to this file, and also import other style files */
@import '/src/app/styles/variables.scss';
@import '/src/app/styles/mixins.scss';
@import '/src/app/styles/layout.scss';
@import '/src/app/styles/utilities.scss';
@import '/src/app/styles/sk-design-system.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: $background;
  color: $text1;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  margin-top: $nav-height;
  min-height: calc(100vh - $nav-height - 2rem);
  padding: 1rem;
}
